.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  }

.navbar-light .navbar-nav .nav-link:hover{
  color:black ;
  
}

.navbar-light .navbar-brand {
    color: #ffffff;
   
}
.navbar{

background:#e7413c; 

}